<div class="about" style="text-align:center;">
		<img src="/img/me.jpg" class="me thumbnail" style="max-width:70%; min-width:70%;">
	<p style="display:inline-block; max-width:65%;width:auto;">My name is <span class="highlight">Tami Forrester</span>, and I am a junior at MIT studying <span class="highlight">Computer Science and Engineering</span>. My interests include user interfaces, web and graphic design, and photography.</p>
<div class="clearfix"></div>

~Contact me~
<div class="highlight contact">
	<a href="mailto:contact@tamiforrester.com" target="_blank">Email</a><br />
	<a href="http://github.com/tamijo" target="_blank">Github</a><br />
	<a href="http://twitter.com/tamiforrester" target="_blank">Twitter</a><br />
	<a href="http://plus.google.com/+TamiForrester/" target="_blank">Google+</a><br />
<!-- </div> -->
</div>
</div>