<div class="about" style="">
<div class="row">
	<!-- <div class="col-md-4" style="text-align:center;"> -->
		<img src="/img/me.jpg" class="img-responsive custom-thumbnail col-md-7 me" style="display:inline-block;">
		<!-- </div> -->
		</div>
		<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center about-text" style="float:none;">
	<p style="">My name is <span class="highlight">Tami Forrester</span>, and I am a junior at MIT studying <span class="highlight">Computer Science and Engineering</span>. My interests include user interfaces, web and graphic design, and photography.</p>
	</div>
	</div>
<!-- </div> -->
<div class="clearfix"></div>

<h3 class="contact">Contact</h3>
<div class="col-md-6 col-md-offset-3">
<ul class="highlight contact">
	<li><a href="mailto:contact@tamiforrester.com" target="_blank">Email</a></li>
	<li><a href="http://github.com/tamijo" target="_blank">Github</a></li>
	<li><a href="http://twitter.com/tamiforrester" target="_blank">Twitter</a></li>
	<li><a href="http://plus.google.com/+TamiForrester/" target="_blank">Google+</a></li>
	</ul>
</div>
</div>
</div>