<div class="about text-center">
	<div class="row">
		<img src="/img/me.jpg" class="img-responsive custom-thumbnail col-md-7 col-sm-6 col-xs-7 me" style="display:inline-block;">
		</div>
		<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center about-text col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="float:none;">
		<p>Hi there! I'm <span class="bold bigger">Tami</span>, an undergrad at MIT studying Computer Science and Engineering. My interests include user interfaces, web and graphic design, and photography.</p>
		<p>Most recently, I've worked as a Software Engineering Intern at <a class="bold highlight"  target="_blank" href="http://kayak.com">KAYAK</a> on the UI team, and this semester I'll be working as an undergraduate TA for <a class='bold highlight' target="_blank" href='http://courses.csail.mit.edu/6.831/'>6.813, the User Interface Design and Implementation</a> class taught at MIT.</p>
		<p>Outside of class, I'm a member and webmaster of MIT's <a class="bold highlight" href="http://piphi.mit.edu" target="_blank">Pi Beta Phi</a>, I work at <a class="bold highlight" href="http://tech.mit.edu" target="_blank">The Tech</a> as a Photography Editor, and I'm a member of <a class="bold highlight" target="_blank" href="http://techx.mit.edu">MIT TechX</a>.
		</div>
		</div>
	<div class="clearfix"></div>

	<h4 class="contact">Want to contact me?</h4>
	<div class="row">
		<!-- <div class="col-md-10 col-md-offset-" style="float:none;"> -->
		<ul class="highlight contact" style="padding-left:0px;">
			<li><a class="rotate" href="mailto:contact@tamiforrester.com" target="_blank" ><img src="/img/email.png" height=50 alt="Email"></a></li>
			<li><a class="rotate" href="http://github.com/tamijo" target="_blank"><img src="/img/github.png" height=50 alt="Github"></a></li>
			<li><a class="rotate" href="http://plus.google.com/+TamiForrester/" target="_blank"><img src="/img/googleplus.png" height=50 alt="Google+"></a></li>
			<li><a class="rotate" href="http://www.linkedin.com/in/tamiforrester/" target="_blank"><img src="/img/linkedin.png" height=50 alt="LinkedIn"></a></li>
			<li><a class="rotate" href="http://twitter.com/tamiforrester" target="_blank" alt="Twitter"><img src="/img/twitter.png" height=50></a></li>
			
			</ul>
		<!-- </div> -->
	</div>
</div>