<div class="border"><img src="/img/me.jpg" class="me"></div>


<div id="description" class="page"><p>My name is <span class="highlight">Tami Forrester</span>, and I am a junior at MIT studying <span class="highlight">Computer Science and Engineering</span>. My interests include user interfaces, web and graphic design, and photography.</p>

~Contact Me~
<div class="highlight contact">
	<a href="mailto:contact@tamiforrester.com" target="_blank">Email</a><br />
	<a href="http://github.com/tamijo" target="_blank">Github</a><br />
	<a href="http://twitter.com/tamiforrester" target="_blank">Twitter</a><br />
	<a href="http://plus.google.com/+TamiForrester/" target="_blank">Google+</a><br />
</div>
</div>