<%= erb :"_header" %>

        <div id="header">
            <h1 class="pull-left brand">Tami Forrester</h1>
            <div class="links pull-right">
                <ul class="no-style">
                    <li><a href="/about">about</a></li>
                    <li><a href="/projects">recent projects</a></li>
                    <li><a href="/misc/resume.pdf" >resume</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

<%= erb :"_footer" %>
