/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
$green: rgb(128,175,131);
$green2: #80af83;
$green_opaque : rgba(34,99,116,.3);
$white: #FFFFFF;
$black_light: rgba(0,0,0,.5);
$black_dark: rgba(1, 1, 1, 0.8);

html, body {
    padding: 0;
    margin: 0;
    height:100%
}
body {
    font-family: 'Open Sans', 'sans-serif',arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.background { 
  background: url("/img/bg7.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
}

.highlight {
    color: $green2;
}
.underline {
    border-bottom: 1px solid $green2;
}
p, div, h1, h2, h3, h4{
    cursor: default;
    &.highlight {
        cursor: inherit;
    }
}
a{

    &:link, &:visited {
        text-decoration:none;
        color:inherit;
    }
    &:hover, &:active {
        text-decoration:underline;
        text-decoration-color:$green2; 
    }
    &.inline {
        display: inline;
    }
}

/* ============== Navigation bar ================ */
.navbar-black{
    position: fixed;
    top: 0;
    width:100%;
    z-index: 10;
    background-color:rgba(1, 1, 1, 0.8);
    border:none;
    height:35px;
    min-height: 30px;
    color:white;
    .navbar-collapse {
        border:none;
        text-align: center;
        &.in{
           background-color: rgba(1, 1, 1, 0.7); 
        }
        
    }
    .navbar-nav {
      display: inline-block;
      float: none;
    }
    .nav>li {
        padding-left: 33px;
    }
    .navbar-nav>li>a {
        color:white;
        font-size:1.1em;
        padding-top: 8px;
        padding-bottom:0px;
        padding-left:0px;
        padding-right: 0px;
        &:hover {
            text-decoration: underline;
            text-decoration-color:$green;
            color:white;
            background-color: inherit;
        }
        &.active {
            border-bottom:1px solid $green;
        }
    }
    .navbar-toggle {
        padding: 8px 9px;
        margin-top: 2px;
        border-color: $green2;
        margin-bottom: 0px;
        .icon-bar{
        background-color: $green2;
        }
    }
} 




/* #Page Styles
================================================== */

/* ========== index ================ */
div#header {
    width:100%;
    background-color: $black_light;
    height:120px;
    margin-top:75px;
    color:$white;
    animation: fadeInLeft 1s;
    -webkit-animation: fadeInLeft 1s;
}

h1.brand {
    font-family:"Roboto Slab";
    font-size: 60px;
    padding-left: 1em;
    margin-top: 40px;
    display: inline-block;
    line-height: 0.7;
    font-weight: normal;
    color: inherit;   
}

div.links {
    font-weight: normal;
    margin-right: 6em;
    font-size: 1.5em;
    padding-top: 16px;
    a{
        color:$white;
        &:hover, &:active {
            color:$green;
        }
    }
}

ul.no-style {
    list-style-type: none;
    padding:0; 
    margin:0;
    li {
        background-image:  url("/img/chevron-right.png");
        background-repeat: no-repeat;
        line-height: 20px;
        background-position: 0px -1px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
}

/*============= Pages =================*/


div#content {
    background-image: url("/img/greyzz.png");
    min-height: 100%;
    height:100%;
    max-width: 960px;
    overflow: scroll;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 45px;    
    text-align: center;
    font-family: 'Open Sans', 'sans-serif';

}

h1.banner {   
    font-family: 'Roboto Slab', serif;
    height:60px;
    background: url("/img/banner2.png") no-repeat top center;
    background-size:auto auto;
    color: $white;
    line-height: 48px;
    margin-top:20px;
    font-size: 2.1em;
        animation: fadeInDown 1s;
    -webkit-animation: fadeInDown 1s;
}

.about-text {
     animation: fadeInUp 1s;
    -webkit-animation: fadeInUp 1s;
    font-size: 1.2em;
    padding-top: 10px;
}

img.me {
    float:none;
        animation: fadeInDown 1s;
    -webkit-animation: fadeInDown 1s;
}
.contact {
       animation: fadeInUp 1s;
    -webkit-animation: fadeInUp 1s; 
}
ul.contact {
    list-style-type: none;
    li {
        display: inline;
        font-size:1.5em;
        /*padding-right:30px;*/
        padding: .2em 1em;
        a {
            
            /*border-bottom: 1px dotted $green2;*/
            &:hover{
                text-decoration: none;
                color:#658A67;
            }
        }
    }
}

/* ========== Projects page ============== */
.custom-thumbnail {
    padding: 4px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
}

.projects {
    
    text-align: left;
    
}

.project {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed gray;
        animation: fadeInUp 1s;
    -webkit-animation: fadeInUp 1s;
    .thumbnail {
        margin-left:0px;
        max-width:370px;
        width: inherit;
        line-height: 20px;
    }
    .box {
        text-align: center;
        margin-left: 10px;
    }
    .title {
        margin-top:5px;
        text-decoration: underline;
        font-size:1.2em;
    }
    .light {
        font-size: 0.8em;
        color:gray;
    }
    .info {
        font-size: 1em;
        margin-left: 20px;
        margin-top: 10px;
        display: inline-block;
        text-align: left;
    }   
    a{
        color: $green;
        &:hover{
            text-decoration: none;
                color:#658A67;
        }

    }
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 778px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 778px) {
        .links {
            background-color: $black_light;
            width:100%;
            margin-right:0px !important;
            padding-top: 0px !important;
            margin-top: 28px;
            border:1px solid black;

            ul{
                list-style-type: none;

                li {
                    background-image: none;
                    float:left;
                    padding:34px;
                }
            }

        }
    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 485px) and (max-width: 767px) {
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 485px) {
        div.main{
            width:100% !important;
            height:100%;
        }
        h1.banner {  
        background-size: 100px; 
        line-height: 32px;
        background-size: 300px auto;
        font-size:1.8em;
        }
        h1.brand {
            font-size: 40px;

        }
        .links {
            margin-top: 42px;
        }
        .links ul li {
            padding: 17px;
        }
    }


/* #Font-Face
================================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);