/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
$green: rgb(128,175,131);
$green2: #80af83;
$green_opaque : rgba(34,99,116,.3);
$white: #FFFFFF;
$black_light: rgba(0,0,0,.5);
$black_dark: rgba(1, 1, 1, 0.8);

html, body {
    padding: 0;
    margin: 0;
    height:100%
}
body {
    font-family: "Helvetica Neue","Helvetica",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.pull-left {
    float:left;
}

.pull-right {
    float:right;
}

.highlight {
    color: $green2;
}
a{
    display: inline-block;

    &:link, &:visited {
        text-decoration:none;
        color:inherit;
    }
    &:hover, &:active {
        text-decoration:underline;
        text-decoration-color:$green2; 
    }
    &.inline {
        display: inline;
    }
}

.footer {
    text-align: center;
    margin-bottom: 0px;
    color: $white;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 0.8em;
    bottom: 0;
    position: absolute;
    width: 100%;
}





/* Navigation bar */
.navbar-black{
    background-color:rgba(1, 1, 1, 0.8);
    border:none;
    height:35px;
    min-height: 30px;
    color:white;
    .navbar-collapse {
        border:none;
        text-align: center;
        background-color: rgba(1, 1, 1, 0.5);
    }
    .navbar-nav {
      display: inline-block;
      float: none;
    }
    .nav>li {
        padding-left: 33px;
    }
    .navbar-nav>li>a {
        color:white;
        font-size:1.1em;
        padding-top: 8px;
        padding-bottom:0px;
        padding-left:0px;
        padding-right: 0px;
        &:hover {
            text-decoration: underline;
            text-decoration-color:$green;
            color:white;
            background-color: inherit;
        }
        &.active {
            border-bottom:1px solid $green;
        }
    }
    .navbar-toggle {
        padding: 8px 9px;
        margin-top: 2px;
        border-color: $green2;
        margin-bottom: 0px;
        .icon-bar{
        background-color: $green2;
        }
        &:hover {
            /*background-color: $green2;*/
        }
    }
} 




/* #Page Styles
================================================== */
/********** index **********/
div#header {
    width:100%;
    background-color: $black_light;
    height:120px;
    margin-top:75px;
    color:$white;
    animation: fadeInLeft 1s;
    -webkit-animation: fadeInLeft 1s;
}

h1.brand {
    font-family:inherit;
    font-size: 60px;
    padding-left: 1em;
    margin-top: 40px;
    display: inline-block;
    line-height: 0.7;
    font-weight: normal;
    color: inherit;
    font-weight: 300;
    
}

div.links {
    font-weight: normal;
    margin-right: 6em;
    font-size: 1.5em;
    padding-top: 16px;
    a{
        color:$white;
        &:hover, &:active {
            color:$green;
        }
    }
}

ul.no-style {
    list-style-type: none;
    padding:0; 
    margin:0;
    li {
        background-image:  url("/img/chevron-right.png");
        background-repeat: no-repeat;
        line-height: 20px;
        background-position: 0px -1px;
        padding-left: 20px;
    }
}



/****** Main pages **********/
#navigation {
    z-index: 1;
    font-family: 'Open Sans', 'sans-serif';
    position: fixed;
    top: 0;
    width: 100%;
/*    color: white;
    height: 28px;
    text-align: center;
    padding-top: 5px;
    background-color: $black_dark;*/
    nav.primary {
        text-align: center;
        ul, ul li {
            margin:0px;
        }
        ul li {
            display: inline;
        }
        ul li a {
            display: inline-block;
            line-height: 20px;
            font-size: 1em;
            margin:0 14px;
            &.active {
                text-decoration: none;
                border-bottom: 1px solid $green;
            }

        }
    }
}

.main {
    min-height: 100%;
}


div#wrap {
    background-image: url("/img/furley_bg.png");
    min-height: 100%;
    height:100%;
    overflow: scroll;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 45px;    
    text-align: center;
    animation: fadeInUp 1s;
    -webkit-animation: fadeInUp 1s;
}

div#content {
    animation: fadeInUp 1s;
    -webkit-animation: fadeInUp 1s;
    /*width: 80%;
    min-height: 100%;
    margin: 0 auto;*/
    font-family: 'Open Sans', 'sans-serif';
}

/*.page {
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    text-align: center;
    font-size: 1.1em; 

}*/

h1.banner {   
    font-family: 'Roboto Slab', serif;
    height:60px;
    background: url("/img/banner2.png") no-repeat top center;
    background-size:auto auto;
    color: $white;
    line-height: 48px;
    margin-top:20px;
    font-size: 2.1em;
/*    animation: fadeInUp 1s;
    -webkit-animation: fadeInUp 1s;*/
}
div.about {
    text-align: center;
}

img.me {
    float:none;
}

/* ========== Projects page ============== */
.custom-thumbnail {
    padding: 4px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
}

.projects {
    
    text-align: left;
    
}

.project {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed gray;
    .thumbnail {
        margin-left:0px;
        max-width:370px;
        width: inherit;
        line-height: 20px;
    }
    .box {
        text-align: center;
        margin-left: 10px;
        display: inline-block;
        width: 45%;
        height: 100%;
    }
    .title {
        margin-top:5px;
        text-decoration: underline;
        font-size:1.2em;
    }
    .light {
        font-size: 0.8em;
        color:gray;
    }
    .info {
        font-size: 1em;
        margin-left: 20px;
        margin-top: 10px;
        display: inline-block;
        text-align: left;
    }   
    a{
        color: $green;

    }
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        div.main{
            width:100% !important;
        }
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        div.main{
            width:100% !important;
            height:100%;
        }
        h1.banner {  
        background-size: 100px; 
        line-height: 32px;
        background-size: 300px auto;
        font-size:1.8em;
        }
        nav select {
            display: inline-block !important;

        }
        nav ul {
            display:none;
        }
    }


/* #Font-Face
================================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@font-face {
    font-family: 'fabricaregular';
    src: url('/misc/font/Fabrica.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliregular';
    src: url('/misc/font/muli-regular-webfont.eot');
    src: url('/misc/font/muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/misc/font/muli-regular-webfont.woff') format('woff'),
         url('/misc/font/muli-regular-webfont.ttf') format('truetype'),
         url('/misc/font/muli-regular-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;
}