@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

html {
  /*    background: url('/img/bg.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/ }

@font-face {
  font-family: 'fabricaregular';
  src: url("/misc/font/Fabrica.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'muliregular';
  src: url("/misc/font/muli-regular-webfont.eot");
  src: url("/misc/font/muli-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/misc/font/muli-regular-webfont.woff") format("woff"), url("/misc/font/muli-regular-webfont.ttf") format("truetype"), url("/misc/font/muli-regular-webfont.svg#muliregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  /*font-family: 'Open Sans';*/
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix {
  clear: both; }

/** index **/
div#header {
  width: 100%;
  /*background-color: rgba(34,99,116,.3);*/
  background-color: rgba(0, 0, 0, 0.5);
  height: 120px;
  margin-top: 75px;
  color: white;
  animation: fadeInLeft 1s;
  -webkit-animation: fadeInLeft 1s; }

.brand {
  /*font-family: 'Inika', serif;*/
  font-size: 60px;
  padding-left: 1em;
  display: inline-block;
  line-height: 0.7;
  font-weight: normal; }

.links {
  font-weight: normal;
  margin-right: 6em;
  font-size: 1.5em;
  padding-top: 10px; }

ul.no-style {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ul.no-style li {
    background-image: url("/img/chevron-right.png");
    background-repeat: no-repeat;
    background-position: 0px 8px;
    padding-left: 20px; }

a {
  color: white;
  display: inline-block; }
  a:link, a:visited {
    text-decoration: none;
    color: inherit; }
  a:hover, a:active {
    text-decoration: none;
    color: #80af83; }

/** Main pages **/
#navigation {
  font-family: 'Open Sans', 'sans-serif';
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  height: 28px;
  text-align: center;
  padding-top: 5px;
  background-color: rgba(1, 1, 1, 0.8); }
  #navigation a {
    font-size: 1em;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 30px; }
    #navigation a.active {
      text-decoration: none;
      border-bottom: 1px solid #80af83; }

div#wrap {
  background-image: url("/img/furley_bg.png");
  /*background: rgba(255, 255, 255, 0.85);*/
  /*background-color: #d2efe4;*/
  width: 75%;
  min-height: 100%;
  overflow: scroll;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center; }

div#content {
  animation: fadeInUp 1s;
  -webkit-animation: fadeInUp 1s;
  width: 70%;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'sans-serif'; }

#banner {
  font-family: 'Roboto Slab', serif;
  height: 60px;
  background: url("/img/banner2.png") no-repeat top center;
  background-size: auto auto;
  color: white;
  line-height: 48px;
  animation: fadeInUp 1s;
  -webkit-animation: fadeInUp 1s; }

img.me {
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

span.highlight {
  color: #80af83; }

#description {
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  text-align: center;
  font-size: 1em; }

/*
font-family: 'Noticia Text', serif;
font-family: 'Arvo', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Inika', serif;
*/
